.catalog__title{
    text-align: center;
    margin-bottom: 80px;
}
.catalog__wrapper {
    --gap: 20px;
    --elements: 3;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
}
.catalog__card {
    width: calc((100% - (var(--elements) - 1) * var(--gap)) / (var(--elements)) );
    min-height: 582px;
}
.catalog__card-title {
    font-size: clamp(1.25rem, 1.2rem + 0.25vw, 1.5rem);
    font-weight: 600;
    margin-bottom: 12px;
    padding-top: 50px;
}
.catalog__card-description {
    font-size: clamp(0.875rem, 0.85rem + 0.125vw, 1rem);
    margin-bottom: 24px;
}
.catalog__card-price {
    margin-bottom: 14px;
}
.catalog__card-title, 
.catalog__card-description, 
.catalog__card-price, 
.catalog__card-button{
    margin-left: 50px;
}

.catalog__card-button {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.52;
    font-size: clamp(0.875rem, 0.825rem + 0.25vw, 1.125rem);
}

@media only screen and (max-width: 1024px) {
    .catalog__wrapper{
        --elements: 2;
    }
    .catalog__card-img {
        width: 100%;
    }
    .catalog__card-title, 
    .catalog__card-description, 
    .catalog__card-price, 
    .catalog__card-button{
        margin-left: 0px;
    }
    .catalog__card-title{
        padding-top: 25px;
    }
}
@media only screen and (max-width: 768px) {
    .catalog__wrapper{
        --elements: 1;
    }
    .catalog__card{
        min-height: 530px;
    }
}