:root{
    --font-family: "Montserrat", sans-serif;

    // colors
    --white-color: #fff;
    --green-color: #01B713;
    --yellow-color: #FED84C;
    --black-color: #2E363E;
    --gray-light-color: #F2F6FA;
    --gray-color: #7E868E;
    --blue-color: #4A94FF;
    --blue-dark-color: #081130;

    --feedbackSlide-city-color: #A6AEB6;
    --footer-input-color: #929AA2;

    --button-border-radius: 8px;
}